#physicalbutton_settings h3 {
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#physicalbutton_settings {
    max-width: 500px;
}

#physicalbutton_settings > .control-group > a {
    vertical-align: top;
    border-radius: 50%;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

#physicalbutton_settings #addNewButton {
    margin-top: 0px;
    padding-bottom: 0px;
}


#physicalbutton_settings #addNewButton > .addButton {
    border-style: solid;
    border-radius: 4px;
    border-color: LightGrey;
    padding: 10px 10px 0px;
    border-width: thin;
}

#physicalbutton_settings #addNewButton > .addButton > a {
    padding: 0px;
}

#physicalbutton_settings .collapse > .control-group > a {
    height: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

#physicalbutton_settings .control-group {
    padding: 5px 0;
}
#physicalbutton_settings .control-group > label {
    min-width: 136px;
    display: inline-block;
}
#physicalbutton_settings .control-group > input[type="radio"] + label {
    min-width: 113px;
}

#physicalbutton_settings .buttonlist > span {
    text-align: center;
}

#physicalbutton_settings .buttonlist > span > a {
    height: 20px;
    min-width: 40%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;

}

#physicalbutton_settings .buttonlist > span > button {
    border-radius: 50%;
    padding: 5px 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    float: right;
}

#physicalbutton_settings .buttonlist {
    border-style: solid;
    border-radius: 4px;
    border-color: LightGrey;
    padding: 10px 10px 0px;
    border-width: thin;
    margin-bottom: 5px;
}

#physicalbutton_settings .form-horizontal {
    overflow: hidden;
}
