.physicalbutton_settings {
    .control-group {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
    }

    input {
        margin-bottom: 0;
    }

    label {
        margin-bottom: 0;
    }

    select {
        margin-bottom: 0;
    }

    textarea {
        margin-bottom: 0;
    }

    .header-and-button {
        padding-right: 5px;
        align-items: stretch;
        border: 1px solid LightGrey;
        border-radius: 5px;
        background-color: #99cccc;

        .logo {
            margin-top: 5px;
            margin-left: 5px;
            text-align: center;
        }

        .information-add-button {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 5px;
            margin-top: 5px;

            .link-buttons {
                .github {}

                .paypal {}

                .ko-fi {}
            }
        }
    }

    .button-list {
        .accordion-heading {
            margin: 0;
            padding-right: 5px;
            align-items: center;


            .accordion-toggle {
                padding: 8px 5px;
            }

            .open-button {}


            .enable-delete-button{
                display: flex;
                align-items: center;
                margin-bottom: 0;
                .delete-button {
                    margin-left: 5px;
                }
            }
        }

        .accordion-inner {
            margin-left: 0;
            padding: 0;

            label {
                cursor: help;
            }

            .left-side {
                border-right: 1px solid LightGrey;
                padding: 10px;
                margin: 0;

                .choose-gpio {
                    .gpio-help {
                        display: flex;
                        justify-content: flex-start;
                        margin-bottom: 0;
                    }
                }

                .add-new-activity {
                    justify-content: flex-end;

                    .btn {
                        margin-left: 0;
                        width: 20%;
                    }
                }

                .add-new-plugin-activity {
                    justify-content: flex-end;

                    .btn {
                        margin-left: 0;
                        width: 20%;
                    }
                }

                .activity-list {
                    margin-bottom: 0;
                }
            }

            .right-side {
                padding: 5px;
                margin: 5px;

                .remove-activity {
                    display: flex;
                    justify-content: flex-end;
                    align-self: baseline;
                }

                .choose-identifier {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .insert-at-index {
                    padding-bottom: 10px;
                    a {
                        cursor: pointer;
                    }
                }

                .control-group {
                    margin-bottom: 0;
                }

                .activity-plugin {
                    .control-group {
                        width: 48%;
                        select {
                            width: 70%;
                        }
                    }
                }

                .activity-file {
                    .path-file {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        flex-direction: row;
                    }
                }

                .activity-output {
                    input {
                        width: 46.5%;
                    }

                    select {
                        width: 55%;
                    }

                    .output-pin-time {
                        .output-pin {
                            padding-bottom: 10px;
                        }

                        .output-time {
                            padding-bottom: 10px;
                        }
                    }

                    .output-value-async {
                        .output-value {
                            padding-bottom: 10px;
                        }

                        .output-async {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
