.physicalbutton_settings {
    .control-group {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: row;
    }

    input {
        min-width: 50px;
    }

    label {
        min-width: 50px;
    }

    select {
        min-width: 50px;
    }


    .header-and-button {
        padding-right: 5px;
        align-items:flex-end;
        align-items: stretch;

        border: 1px solid LightGrey;
        border-radius: 5px;
        background-color: #E7E9EB;

        .logo {
            margin-top: 5px;
            margin-left: 5px;
            text-align: center;
        }

        .information-add-button {
            display: flex;
            flex-direction: column;
            justify-content:flex-end;
            align-items:flex-end;
            margin-bottom: 5px;
        }
    }

    .button-list {
        .accordion-heading {
            margin: 0;
            padding-right: 5px;
            align-items: center;

            .accordion-toggle {
                padding: 8px 5px;

                label {
                    margin: 0;
                }
            }

            .open-button {}

            .delete-button {}
        }
        .accordion-inner{
            padding: 5px 10px;
        }

        .left-side {
            border-right: 1px solid LightGrey;
            padding: 5px;

            label {
                min-width: 105px;
            }
            .choose-gpio {
                label {
                    min-width: unset;
                }
                .gpio-help{
                    display: flex;
                    justify-content: flex-start;
                }
            }
            .add-new-activity {
                justify-content: flex-end;
            }
        }

        .right-side {
            label {
                min-width: 50px;
            }

            .remove-activity {
                display: flex;
                justify-content: flex-end;
                align-self: flex-end;
            }
            .insert-at-index {
                input {
                    width: 30px;
                }
            }
        }
    }
}
