.physicalbutton_settings .control-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.physicalbutton_settings input {
  margin-bottom: 0;
}
.physicalbutton_settings label {
  margin-bottom: 0;
}
.physicalbutton_settings select {
  margin-bottom: 0;
}
.physicalbutton_settings textarea {
  margin-bottom: 0;
}
.physicalbutton_settings .header-and-button {
  padding-right: 5px;
  align-items: stretch;
  border: 1px solid LightGrey;
  border-radius: 5px;
  background-color: #99cccc;
}
.physicalbutton_settings .header-and-button .logo {
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
}
.physicalbutton_settings .header-and-button .information-add-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
  margin-top: 5px;
}
.physicalbutton_settings .button-list .accordion-heading {
  margin: 0;
  padding-right: 5px;
  align-items: baseline;
}
.physicalbutton_settings .button-list .accordion-heading .accordion-toggle {
  padding: 8px 5px;
}
.physicalbutton_settings .button-list .accordion-inner {
  margin-left: 0;
  padding: 0;
}
.physicalbutton_settings .button-list .accordion-inner label {
  cursor: help;
}
.physicalbutton_settings .button-list .accordion-inner .left-side {
  border-right: 1px solid LightGrey;
  padding: 10px;
  margin: 0;
}
.physicalbutton_settings .button-list .accordion-inner .left-side .choose-gpio .gpio-help {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}
.physicalbutton_settings .button-list .accordion-inner .left-side .add-new-activity {
  justify-content: flex-end;
}
.physicalbutton_settings .button-list .accordion-inner .left-side .add-new-activity .btn {
  margin-left: 0;
  width: 20%;
}
.physicalbutton_settings .button-list .accordion-inner .left-side .activity-list {
  margin-bottom: 0;
}
.physicalbutton_settings .button-list .accordion-inner .right-side {
  padding: 5px;
  margin: 5px;
}
.physicalbutton_settings .button-list .accordion-inner .right-side .remove-activity {
  display: flex;
  justify-content: flex-end;
  align-self: baseline;
}
.physicalbutton_settings .button-list .accordion-inner .right-side .choose-identifier {
  padding-top: 10px;
  padding-bottom: 10px;
}
.physicalbutton_settings .button-list .accordion-inner .right-side .insert-at-index {
  padding-bottom: 10px;
}
.physicalbutton_settings .button-list .accordion-inner .right-side .control-group {
  margin-bottom: 0;
}
.physicalbutton_settings .button-list .accordion-inner .right-side .activity-file .path-file {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.physicalbutton_settings .button-list .accordion-inner .right-side .activity-output input {
  width: 46.5%;
}
.physicalbutton_settings .button-list .accordion-inner .right-side .activity-output select {
  width: 55%;
}
.physicalbutton_settings .button-list .accordion-inner .right-side .activity-output .output-pin-time .output-pin {
  padding-bottom: 10px;
}
.physicalbutton_settings .button-list .accordion-inner .right-side .activity-output .output-value-async .output-value {
  padding-bottom: 10px;
}
