.physicalbutton_settings .control-group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}
.physicalbutton_settings input {
  min-width: 50px;
}
.physicalbutton_settings label {
  min-width: 50px;
}
.physicalbutton_settings select {
  min-width: 50px;
}
.physicalbutton_settings .header-and-button {
  padding-right: 5px;
  align-items: flex-end;
  align-items: stretch;
  border: 1px solid LightGrey;
  border-radius: 5px;
  background-color: #EEEEEE;
}
.physicalbutton_settings .header-and-button .logo {
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
}
.physicalbutton_settings .header-and-button .information-add-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 5px;
  margin-top: min(5px, 100%);
}
.physicalbutton_settings .button-list .accordion-heading {
  margin: 0;
  padding-right: 5px;
  align-items: center;
}
.physicalbutton_settings .button-list .accordion-heading .accordion-toggle {
  padding: 8px 5px;
}
.physicalbutton_settings .button-list .accordion-heading .accordion-toggle label {
  margin: 0;
}
.physicalbutton_settings .button-list .accordion-inner {
  padding: 5px 10px;
}
.physicalbutton_settings .button-list .left-side {
  border-right: 1px solid LightGrey;
  padding: 5px;
}
.physicalbutton_settings .button-list .left-side label {
  min-width: 105px;
}
.physicalbutton_settings .button-list .left-side .choose-gpio label {
  min-width: unset;
}
.physicalbutton_settings .button-list .left-side .choose-gpio .gpio-help {
  display: flex;
  justify-content: flex-start;
}
.physicalbutton_settings .button-list .left-side .add-new-activity {
  justify-content: flex-end;
}
.physicalbutton_settings .button-list .right-side label {
  min-width: 50px;
}
.physicalbutton_settings .button-list .right-side .remove-activity {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
.physicalbutton_settings .button-list .right-side .insert-at-index input {
  width: 30px;
}
