.physicalbutton_settings h3 {
  display: inline-block;
  vertical-align: middle;
}
.physicalbutton_settings .add-new-button {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.physicalbutton_settings .button-list a {
  vertical-align: middle;
}
.physicalbutton_settings .button-list label {
  min-width: 105px;
  vertical-align: top;
  display: inline-block;
}
.physicalbutton_settings .button-list input {
  display: inline-block;
}
.physicalbutton_settings .button-list select {
  display: inline-block;
}
.physicalbutton_settings .button-list .accordion-heading .open-button {
  display: inline-block;
  vertical-align: middle;
}
.physicalbutton_settings .button-list .accordion-heading .delete-button {
  margin: 6px 5px;
  float: right;
}
.physicalbutton_settings .button-list .left-side {
  border-right: 1px solid LightGrey;
}
.physicalbutton_settings .button-list .right-side .insert-at-index {
  display: flex;
  align-items: center;
}
.physicalbutton_settings .button-list .right-side .insert-at-index input {
  width: 30px;
}
