<div class="physicalbutton_settings">
    <h3>Physical Button</h3>
    <button class="btn btn-primary add-new-button" data-bind="click: addButton">
        <i class="fa fa-plus"></i>
    </button>

    <div id="accordionID" class="accordion button-list" data-bind="foreach: { data:buttons, as: 'button' }">
        <div class="accordion-group">
            <!-- Accordion Header-->
            <div class="accordion-heading" button-header>
                <a class="accordion-toggle open-button" data-toggle="collapse" data-parent="#accordionID" data-bind="attr:{href: '#'+ id()}, click: $parent.changeSelection">
                    <label data-bind="text: buttonName"></label>
                </a>
                <button class="btn btn-danger delete-button" data-bind="click: $parent.removeButton">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
            <!-- Accordion Body-->
            <div class="accordion-body collapse" data-bind="attr:{id: button.id()}">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span7 left-side">
                            <div class="control-group choose-name">
                                <label for="">Button Name:</label>
                                <input type="text" data-bind="value: button.buttonName">
                            </div>
                            <div class="control-group choose-gpio">
                                <label for="">GPIO:</label>
                                <select data-bind="foreach: {data:$root.gpios, as: 'gpioListItem'}, value:button.gpio">
                                    <option data-bind="value:$data, text: gpioListItem == 'none' ? gpioListItem : 'GPIO'+gpioListItem ,disable: $root.disableGpioOption(gpioListItem,button.gpio)"></option>
                                </select>
                            </div>
                            <div class="control-group choose-mode">
                                <label for="">Mode:</label>
                                <select data-bind="value: button.buttonMode, options:$root.buttonModes"></select>
                            </div>
                            <div class="control-group choose-time">
                                <label for="">Hold Time (ms):</label>
                                <input type="number" data-bind="value: button.buttonTime">
                            </div>
                            <div class="btn-group control-group add-new-activity">
                                <button class="btn" data-bind="click: $parent.addAction">Add Action</button>
                                <button class="btn" data-bind="click: $parent.addGCODE">Add GCODE</button>
                            </div>
                            <div class="control-group activity-list">
                                <label for="">Activities:</label>
                                <select
                                    data-bind="options:button.activities, valueAllowUnset: true,value:$parent.selectedActivity, attr:{size:Math.max(button.activities().length,2)},optionsText:function(item){return item.type()+': '+item.identifier();}">
                                    <option value="">If you see this,</option>
                                    <option value="">then there must</option>
                                    <option value="">be a bug!</option>
                                </select>
                            </div>
                        </div>
                        <div class="span5 right-side" data-bind="if:$parent.selectedActivity()">
                            <button class="btn btn-danger remove-activity" data-bind="click: $parent.removeActivity">Remove Activity</button>
                            <div class="control-group choose-identifier">
                                <label for="">Identifier:</label>
                                <input type="text" data-bind="value:$parent.selectedActivity().identifier">
                            </div>
                            <div class="control-group activity-gcode" data-bind="if:$parent.selectedActivity().type() == 'gcode'">
                                <label for="">GCODE:</label>
                                <textarea data-bind="attr:{rows: 5}, value:$parent.selectedActivity().execute"></textarea>
                            </div>
                            <div class="control-group activity-action" data-bind="if:$parent.selectedActivity().type() == 'action'">
                                <label for="">Action:</label>
                                <select data-bind="options:$root.actions, value:$parent.selectedActivity().execute"></select>
                            </div>
                            <div class="control-group insert-at-index">
                                <a type="btn" data-bind="click: $parent.updatePosition">Insert at position:</a>
                                <input type="number" min="1" data-bind="value:$parent.index, attr:{max:activities().length}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
