<h3>Physical Button</h3>
<form id "physicalbutton_settings" class="form">
    <table>
        <tr>
            <td>
                <h4>Buttons:</h4>
            </td>
            <td>
                <a href="#addButton" class="btn btn-outline-primary">
                    <i class="fas fa-plus"></i>
                </a>
            </td>
        </tr>
    </table>
    <div class="list-group">
        <li>
            <a href="#button_1" class="btn" data-toggle="collapse">
                <label for="buttonname">{{ plugin_physicalbutton_buttonname|escape }}</label>
            </a>

            <div id="button_1" class="collapse">
                <table>
                    <tr>
                        <td>
                            <a data-toggle="tooltip" title="Name will change on restart" style="color: rgb(51,51,51); text-decoration: none; cursor:text;" onclick="return false;">
                                <p>Button Name: </p>
                            </a>
                        </td>
                        <td>
                            <input type="text" class="form-control" data-bind="value: settings.plugins.physicalbutton.buttonname">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a data-toggle="tooltip" title="What GPIO is the button connected to?" style="color: rgb(51,51,51); text-decoration: none; cursor:text;" onclick="return false;">
                                <p>GPIO: </p>
                            </a>
                        </td>
                        <td>
                            <select data-bind="value:settings.plugins.physicalbutton.gpio"">
                                <option value="-1">None</option>
                                <option value="2">GPIO2</option>
                                <option value="3">GPIO3</option>
                                <option value="4">GPIO4</option>
                                <option value="5">GPIO5</option>
                                <option value="6">GPIO6</option>
                                <option value="7">GPIO7</option>
                                <option value="8">GPIO8</option>
                                <option value="9">GPIO9</option>
                                <option value="10">GPIO10</option>
                                <option value="11">GPIO11</option>
                                <option value="12">GPIO12</option>
                                <option value="13">GPIO13</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a data-toggle="tooltip" title="What action should be done on button press?" style="color: rgb(51,51,51); text-decoration: none; cursor:text;" onclick="return false;">
                                <p>Action: </p>
                            </a>
                        </td>
                        <td>
                            <select data-bind="value:settings.plugins.physicalbutton.action">
                                <option value="start">start</option>
                                <option value="cancel">cancel</option>
                                <option value="pause">pause</option>
                                <option value="paused">paused</option>
                                <option value="resume">resume</option>
                                <option value="resumed">resumed</option>
                                <option value="disconnect">disconnect</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </li>
    </div>
</form>
