<h3>Physical Button</h3>
<form id "physicalbutton_settings" class="form">
    <table>
        <tr>
            <td>
                <h4>Buttons:</h4>
            </td>
            <td>
                <a href="#addNewButton" class="btn" data-toggle="collapse">
                    <i class="fa fa-plus"></i>
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <div class="collapse" id="addNewButton">
                    <table>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>
                                    <label for="newButtonnameTF">Button Name:</label>
                                </td>
                                <td>
                                    <input type="text" id="newButtonnameTF" data-bind="value:newButtonName" required>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <label>GPIO:</label>
                                </td>
                                <td>
                                    <select data-bind="value: newButtonGPIO, options:gpios, optionsText: function(item){return 'GPIO'+item}, event: {change: changeEnabled}"></select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <label>Mode:</label>
                                </td>
                                <td>
                                    <select data-bind="value: newButtonMode">
                                        <option value="Normally Open (NO)"   data-bind="enable: noEnabled">Normally Open (NO)</option>
                                        <option value="Normally Closed (NC)" data-bind="enable: ncEnabled">Normally Closed (NC)</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <label>Debounce Time/<br>Time until active</label>
                                </td>
                                <td>
                                    <input type="number" name="debounce" min="0" value="500" data-bind="value: newButtonTime">
                                </td>
                                <td><label>ms</label></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <h6>Choose the activity for the button:</h6>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="activity" value="checkedAction" id="action_activity" data-bind="checked: checkedButton" required>
                                </td>
                                <td>
                                    <label for="action_activity">Action:</label>
                                </td>
                                <td>
                                    <div data-bind="visible: $root.checkedButton() == 'checkedAction'">
                                        <select data-bind="value: newButtonAction, options: actions"></select>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="activity" value="checkedGcode" id="gcode_activity" data-bind="checked: checkedButton">
                                </td>
                                <td>
                                    <label for="gcode_activity">GCODE:</label>
                                </td>
                                <td>
                                    <div data-bind="visible: $root.checkedButton() == 'checkedGcode'">
                                        <textarea rows="5" data-bind="value: newButtonGcode""></textarea>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <a href="#addNewButton" class="btn btn-outline-success" data-bind="click: addButton" data-toggle="collapse">
                                        Save new button
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><p></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tbody data-bind="foreach: settingsViewModel.settings.plugins.physicalbutton.buttons">
            <tr>
                <td>
                    <a data-bind="attr:{href: '#'+ id()}" class="btn" data-toggle="collapse">
                        <label data-bind="text: buttonname"></label>
                    </a>
                    <div class="collapse" data-bind="attr:{id: id()}">
                        <table>
                            <tr>
                                <td></td>
                                <td>
                                    <button class="btn btn-outline-danger" data-bind="click: $parent.removeButton">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Button Name: </p>
                                </td>
                                <td>
                                    <input type="text" class="form-control" data-bind="value: buttonname">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>GPIO: </p>
                                </td>
                                <td>
                                    <select data-bind="value: gpio, options:$root.gpios, optionsText: function(item){return 'GPIO'+item}"></select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Mode:</label>
                                </td>
                                <td>
                                    <label data-bind="text: buttonMode"></label>
                                    <!--<select data-bind="value: buttonMode, options:$root.buttonModes"></select>-->
                                </td>
                            </tr>
                            <tr>
                                <td><label>Debounce Time/ <br> Time until active</label></td>
                                <td><input type="number" data-bind="value: buttonTime"></td>
                                <td><label>ms</label></td>
                            </tr>
                            <tr>
                                <td data-bind="visible: show() == 'action'">
                                    <p>Action: </p>
                                </td>
                                <td data-bind="visible: show() == 'action'">
                                    <select data-bind="value: action, options:$root.actions"></select>
                                </td>
                                <td data-bind="visible: show() == 'gcode' ">
                                    <p>GCODE: </p>
                                </td>
                                <td data-bind="visible: show() == 'gcode' ">
                                    <textarea rows="5" data-bind="value: gcode""></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>
